body {
    font-family: 'Pridi', serif;
}
.container {
}
h1, h2, h3, h4, label{
    margin: 0;
    font-weight: normal !important;
    font-family: 'Pridi', serif !important;
}
h1 {
    /* text-align: center; */
    /* font-family: 'Pridi', serif; */
    margin: 20px 0 5px 0;
}
.e-list {
    display: flex;
    flex-wrap: wrap;
}
.form {
    margin: 30px auto;
}
.form-en, .form-de {
    margin: 50px auto 50px auto;
    width: 80%;
}
a {
    text-decoration: none !important;
    border: 1px solid black;
    padding: 10px;
    flex: 1;
}
a:hover {
    background-color: rgb(209, 209, 209);
}
span {
    color: rgb(0, 47, 255);
}
.key {
    margin: 20px auto 0 auto;
    text-align: center;
    width: 80%;
}
#pub {
    display: inline-block;
}
#pri {
    display: inline-block;
}